<!--<div class="product-list">
    <div class="product" *ngFor="let product of products">
      <img [src]="product.image" [alt]="product.name">
      <h3>{{ product.name }}</h3>
      <p>{{ product.description }}</p>
      <p>Рейтинг: {{ product.rate }}</p>
  
      <div class="buttons">
        <a [href]="product.whatsappLink" target="_blank" class="whatsapp">WhatsApp</a>
        <a [href]="product.telegramLink" target="_blank" class="telegram">Telegram</a>
      </div>
    </div>
  </div>-->
  <div class="product-list">
    <app-product-item
      *ngFor="let product of products"
      [product]="product"
      (remove)="removeProduct($event)">
    </app-product-item>
  </div>
  
  
  
  