/*.product-list {
    display: flex;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 20px;
    padding: 20px;
    justify-items: center;
}
.product {
    text-align: center;
    
}
.product h3 {
    font-weight: bold;
}

.product img{
    width: 100%;
    height: auto;
}

.buttons a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 10px;
}
.whatsapp{
    background-color: rgb(105, 233, 105);
    padding: 8px 10px;
}
.telegram{
    background-color: rgb(43, 165, 225);
    padding: 8px 10px;
}*/
